.bg-double{
	height: 400px;
	margin: 100px 0 200px;
	background: $primary-light;
	background:
		linear-gradient(45deg, transparent, $primary-light 0) left,
		linear-gradient(-45deg, transparent, white 0) right;
	background-repeat: no-repeat;
	background-size: 75% 100%;
	z-index: -1;
	.bg-double-fix{
		margin-top: -70px; 
	}
	@include media-breakpoint-down(sm){
		// margin-bottom: 500px;
	}
	@include media-breakpoint-between(xs, sm) {
		margin-bottom: 500px;
	}
	@include media-breakpoint-down(xs){
		margin-bottom: 300px;
	}
}