// animation
.breath{
	animation-name: breath;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	@keyframes breath {
		from { opacity: 0.1; }
    	50%  { opacity:   1; }
    	to   { opacity: 0.1; }  
	}
}