//連結文字效果
.text-hover{
	transition: all .6s ease;
	&:hover{
		color: $primary-dark !important;
	}
}

//連結外框效果
.scale-hover{
	transition: all .6 ease;
	&:hover,&:active{
		outline: 3px solid $primary;
		.scale-hover-text{
			color: $primary-dark;
		}
	}  
}

//
.float-top-hover{
	transition: all .6 ease;
	&:hover{
		transform: translateY(-10px);
	}
}