//login
.or-line{
	position: relative;
	&:before,&:after{
		content:"";
		position: absolute;
		top: 50%;
		background: $secondary;
		width: 45%;
		height: 1px;
	}
	&:before{
		left: 0%;
	}
	&:after{
		right: 0%;
	}
}